@charset "UTF-8";

@media all and (max-width:1024px){
    /* header */
    #wrap #header .gap .container #aside {width:35px;}
    #wrap #header .gap .container #aside .aside-gap {padding:20px 0;}

    .ham-menu #navi .navi-con {margin-left:5%;}
    .ham-menu #navi .navi-con li a.menu {font-size:60px;}
    /* header */
    #wrap #header {height:50px;}
    #wrap #header.addHide {top:-60px;}

    #goTop {bottom:150px;}
}

@media all and (max-width:760px){
    /* footer */
    #wrap #footer .gap .container {padding:50px 0;}
    #wrap #footer .gap .container .copyright-box span{font-size:13px;}
    #wrap #footer .gap .container .site-box .site-wrap {bottom:45px;}
    #wrap #footer .gap .container .site-box .site-wrap .site-gap {padding:20px 15px;}
    #wrap #footer .gap .container .site-box .site-wrap .site-gap .site dd {font-size:13px;}
    #wrap #footer .gap .container .site-box .site-btn-wrap .site-btn {line-height:43px;font-size:13px;}
}

@media all and (max-width:500px){
    /* header */
    .ham-menu #navi .navi-con li a.menu {font-size:30px;}
    /* footer */
    #wrap #footer .gap .container {justify-content: center; flex-wrap: wrap; align-content: space-around; flex-direction: column-reverse;}
    #wrap #footer .gap .container .copyright-box {margin-top:30px;}
}