@charset "UTF-8";
/* loading */
#loadPage {z-index:6;position:fixed;top:0;left:0;width:100%;height:100vh;overflow: hidden;background:#000;}
#loadPage .load-txt {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:800px;height:300px;}
#loadPage .load-txt #loadTxt {width:100%;height:100%;}
.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7{fill:none;stroke-miterlimit:10;stroke-width:2px;}
.cls-1{stroke:#f39322;}
.cls-2{stroke:#fecb37;}
.cls-3{stroke:#fed58b;}
.cls-4{stroke:#ffe8c0;}
.cls-5{stroke:#fed58c;}
.cls-6{stroke:#fecb38;}
.cls-7{stroke:#f39323;}


/* main */
#wrap #main {z-index:1;position:relative;}
/* section1 */
#wrap #main #section1 {position:relative;}
#wrap #main #section1 .gap .container {padding-top:80px;}
#wrap #main #section1 .gap .container > div {width:100%;}
#wrap #main #section1 .gap .container > div > .box-gap {padding-bottom:60px;}
#wrap #main #section1 .gap .container > div > .box-gap .box-wrap {width:100%;}
#wrap #main #section1 .gap .container > div > .box-gap .box-wrap h2 {position:relative;float:left;font-size:85px;font-weight:600;letter-spacing:-2px;line-height:220px;}
#wrap #main #section1 .gap .container > div > .box-gap .box-wrap h2::after {z-index:2;position:absolute;top:0;left:0;content:'';display:block;width:100%;height:100%;background:#FFCE00;transition:all .5s;}
#wrap #main #section1 .gap .container > div.center-box > .box-gap .box-wrap h2 {float:right;}
#wrap #main #section1 .gap .container > div.center-box > .box-gap .box-wrap h2::after {right:0;left:auto;transition-delay:.4s;}
#wrap #main #section1 .gap .container > div > .box-gap .box-wrap h2.addLoad::after {width:0%;}
#wrap #main #section1 .gap .container > div > .box-gap .box-wrap .img-box {float:left;height:220px;background:#ccc;background:url(../img/main_bg_0.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .gap .container > div.top-box > .box-gap .box-wrap .img-box {position:relative;width:56%;margin-left:25px;background-image:url(../img/main_bg_1.jpg);}
#wrap #main #section1 .gap .container > div.top-box > .box-gap .box-wrap .img-box::after {z-index:2;position:absolute;top:0;left:0;content:'';display:block;width:100%;height:100%;background:#000;opacity:.2;}
#wrap #main #section1 .gap .container > div.center-box > .box-gap .box-wrap .img-box {width:70%;margin-right:25px;background-image:url(../img/main_bg_0.jpg);}



#wrap #main #section1 .gap .container .bottom-box .box-gap {width:100%;padding-bottom:0;}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap {}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap ul {position:relative;width:100%;height:180px;overflow:hidden;}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap ul li {position:absolute;left:0;width:574px;height:180px;line-height:180px;font-size:85px;text-align:center;font-weight:600;}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap ul li.txt3 {left:calc(33% *-1);}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap ul li.txt0 {left:calc(33% *0);-webkit-text-stroke:1px #fffcf7;-webkit-text-fill-color: transparent;}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap ul li.txt1 {left:calc(33% *1);}
#wrap #main #section1 .gap .container .bottom-box .box-gap .box-wrap ul li.txt2 {left:calc(33% *2);-webkit-text-stroke:1px #fffcf7;-webkit-text-fill-color: transparent;}

/* #wrap #main #section1 .gap .container .scrl-box {position:absolute;bottom:0;left:0;width:100%;text-align:center;} */
#wrap #main #section1 .gap .container .scrl-box {width:100%;text-align:center;}
#wrap #main #section1 .gap .container .scrl-box .scrl-txt {margin-bottom:10px;font-size:18px;color:#e1e1e1;}
#wrap #main #section1 .gap .container .scrl-box .scrl {position:relative;display:inline-block;width:1px;height:100px;background:#ddd;}
#wrap #main #section1 .gap .container .scrl-box .scrl::after {position:absolute;top:0;left:50%;margin-left:-4px;content:'';display:block;width:8px;height:8px;border-radius:50%;background:#fff;animation:scrl 1.8s infinite linear;}
@keyframes scrl {
    0% {top:0;}
    100% {top:100%;}
}


/* section2 */
#wrap #main #section2 {position:relative;width:100%;padding-top:100px;}
#wrap #main #section2 .gap .container .intro-img {float:left;width:20%;transform:translateY(0)}
#wrap #main #section2 .gap .container .intro-img a.me {display:block;width:100%;}
#wrap #main #section2 .gap .container .intro-img a.me img {display:block;width:100%;}

#wrap #main #section2 .gap .container .intro {float:left;width:80%;text-align:right;/* margin-top:100px; */}
#wrap #main #section2 .gap .container .intro .intro-tit {position:relative;margin-bottom:300px;}
#wrap #main #section2 .gap .container .intro .intro-tit > h2 {display:inline-block;font-size:100px;font-weight:600;letter-spacing: -2px;-webkit-text-stroke:.5px #fffcf7;-webkit-text-fill-color: transparent;margin-bottom:20px;}/* transform:scale(.8,1); */
#wrap #main #section2 .gap .container .intro .intro-tit > p {font-size:120px;font-weight:600;letter-spacing: -2px;}

#wrap #main #section2 .gap .container .intro .intro-tit .svg1 {position:absolute;top:50%;left:20%;width:850px;margin-top:-50px;}
#wrap #main #section2 .gap .container .intro .intro-tit .svg1 .st0 {fill:none;stroke:#FFCE00;stroke-width:3;stroke-miterlimit:10;stroke-dashoffset:1749;stroke-dasharray:1749;}
#wrap #main #section2 .gap .container .intro .intro-tit .svg1 .st0.addActive {stroke-dashoffset:0;animation:svgAni 2s linear;}
@keyframes svgAni {
    0% {stroke-dashoffset:1749;}
    100% {stroke-dashoffset:0;}
}


#wrap #main #section2 .gap .container .intro .intro-con {}
#wrap #main #section2 .gap .container .intro .intro-con > span {font-size:20px;padding-left:10px;opacity:.8;letter-spacing:2px;transition:all .4s;}
#wrap #main #section2 .gap .container .intro .intro-con > span:hover {color:#ffb400;}
#wrap #main #section2 .gap .container .intro .intro-con > h3 {margin-top:20px;font-size:24px;line-height:130%;padding-bottom:10px;}
#wrap #main #section2 .gap .container .intro .intro-con > p {display:inline-block;font-size:22px;line-height:140%;width:70%;font-weight:300;}


/* section3 */
#wrap #main #section3 {width:100%;padding-top:100px;}
#wrap #main #section3 .gap .container .skill-tit {}
#wrap #main #section3 .gap .container .skill-tit > h2 {display:inline-block;font-size:100px;font-weight:600;letter-spacing:-2px;}
#wrap #main #section3 .gap .container .skill-tit > h2 > span {display:inline-block;margin:-15px 30px 0 0;-webkit-text-stroke:.5px #fffcf7;-webkit-text-fill-color: transparent;}

#wrap #main #section3 .gap .container .skill-con {padding-top:100px;display:flex;flex-wrap: wrap;justify-content: space-between;}
#wrap #main #section3 .gap .container .skill-con .svgWrap {position:relative;width:500px;height:500px;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg {z-index:1;position:relative;width:100%;height:100%;transform:rotate(-90deg)}

#wrap #main #section3 .gap .container .skill-con .svgWrap svg .st0 {fill:none;stroke:#CCCCCC;stroke-width:3;stroke-miterlimit:10;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .st1 {fill:none;stroke:#E6E6E6;stroke-width:2;stroke-miterlimit:10;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir {fill:none;stroke:#FFF6B6;stroke-width:8;stroke-miterlimit:10;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir.cir0 {stroke:#fff6b6;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir.cir1 {stroke:#FFCE00;}/* #ffb400 */
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir.cir2 {stroke:#ffb400;} /* #ff9100 */
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir.cir3 {stroke:#ffb400;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir.cir4 {stroke:#FFCE00;}
#wrap #main #section3 .gap .container .skill-con .svgWrap svg .cir.cir5 {stroke:#fff6b6;}

#wrap #main #section3 .gap .container .skill-con .svgWrap .inside {z-index:2;position:absolute;top:50%;left:0;margin-top:-80px;width:100%;text-align:center;}
#wrap #main #section3 .gap .container .skill-con .svgWrap .inside span {display:block;}
#wrap #main #section3 .gap .container .skill-con .svgWrap .inside .tit {font-size:40px;margin-bottom:20px;}
#wrap #main #section3 .gap .container .skill-con .svgWrap .inside .num {font-size:60px;font-weight:700;}


/* section4 */
#wrap #main #section4 {width:100%;padding:100px 0;}
#wrap #main #section4 .gap .container .work-tit {width:100%;text-align:right;}
#wrap #main #section4 .gap .container .work-tit h2 {display:inline-block;font-size:100px;font-weight:600;letter-spacing:-2px;}
#wrap #main #section4 .gap .container .work-tit h2 span {display:inline-block;margin:-15px 0 0 30px;-webkit-text-stroke:.5px #fffcf7;-webkit-text-fill-color: transparent;}

#wrap #main #section4 .gap .container .work-con {padding-top:200px;width:100%;}
#wrap #main #section4 .gap .container .work-con .slide-container {width:100%;height:700px;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view {width:100%;height:100%;overflow:hidden;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap {position:relative;width:calc(500px * 4);height:100%;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide {position:absolute;top:0;width:500px;height:100%;padding-top:100px;box-sizing:border-box;}/* js */
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide0 {left:0;top:0;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide1 {left:30%;top:-15%;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide2 {left:60%;top:0;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide3 {left:90%;top:-15%;}

#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide .slide-cont {z-index:1;position:relative;width:100%;height:100%;background:url(../img/port_0.png) no-repeat 50% 50%;background-size:cover;transform:scale(1);overflow:hidden;transition:all .4s;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide.addHover .slide-cont {transform:scale(1.1);}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide0 .slide-cont {background-image:url(../img/port_0.png);}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide1 .slide-cont {background-image:url(../img/port_1.png);}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide2 .slide-cont {background-image:url(../img/port_2.png);}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide3 .slide-cont {background-image:url(../img/port_3.png);}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide .slide-cont::after {z-index:2;position:absolute;content:'';display:block;width:100%;height:100%;background:#000;opacity:0;transition:all .4s;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide.addHover .slide-cont::after {opacity:.6;}

/* button */
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide .slide-cont a.link-btn {display:none;z-index:3;position:absolute;top:50%;left:50%;margin-top:-22.5px;margin-left:-125px;width:250px;height:45px;text-align:center;line-height:45px;border-radius:5px;box-shadow: -5px -5px 10px #fff6b6,  5px 5px 10px #FFCE00;transition:all .2s ease-in-out}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide.addHover .slide-cont a.link-btn {display:block;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide.addHover .slide-cont a.link-btn:hover {display:block;box-shadow: -2px -2px 5px #fff6b6,  2px 2px 5px #FFCE00;}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide .slide-cont a.link-btn span {letter-spacing:2px;font-size:15px;font-weight:600;color:#ffb400;transition:all .2s ease-in-out}
#wrap #main #section4 .gap .container .work-con .slide-container .slide-view .slide-wrap .slide .slide-cont a.link-btn:hover span {font-weight:700;}

/* section5 */
#wrap #main #section5 {z-index:1;position:relative;width:100%;padding:100px 0;overflow:hidden;}
#wrap #main #section5 .gap .container .content-box {padding-bottom:50px;}
#wrap #main #section5 .gap .container .content-box > div {float:left;width:50%;}
#wrap #main #section5 .gap .container .content-box .left {position:relative;padding-right:60px;box-sizing:border-box;}
#wrap #main #section5 .gap .container .content-box .left .txt-box {}
#wrap #main #section5 .gap .container .content-box .left .txt-box h2 {font-size:80px;font-weight:600;margin-bottom:60px;}
#wrap #main #section5 .gap .container .content-box .left .txt-box h2:last-child {text-align:right;margin:60px 0 0 0;}
#wrap #main #section5 .gap .container .content-box .left .txt-box p {width:95%;font-size:20px;font-weight:400;line-height:160%;}
#wrap #main #section5 .gap .container .content-box .left .circle {position:absolute;top:60px;left:60px;width:100px;height:100px;border-radius:50%;background-color:#fff;mix-blend-mode: difference;will-change:transform;}


#wrap #main #section5 .gap .container .content-box .right {}
#wrap #main #section5 .gap .container .content-box .right h2 {font-size:85px;font-weight:600;letter-spacing:-2px;margin-bottom:40px;}
#wrap #main #section5 .gap .container .content-box .right .info-box {outline:2px solid #ffb400;outline-offset: 5px;background:#fffcf7;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap {padding:60px 40px;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li {padding-bottom:30px;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li:last-child {padding-bottom:0;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li span {color:#000;font-size:25px;margin-right:40px;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li > span:last-of-type {margin-right:0;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li span.list-name {display:inline-block;width:200px;font-weight:500;letter-spacing:3px;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li span.list-name i {font-size:25px;padding-right:15px;color:#000;opacity:.5;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li span a {color:inherit;border-bottom:0;transition:all .4s;}
#wrap #main #section5 .gap .container .content-box .right .info-box .info-gap ul.info-con li span a:hover {color:#ffb400;border-bottom:1px solid #ffb400;}



